@model WebNoiThat_64132077.Areas.Admin.Models.ForgotPasswordModel
@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Quên mật khẩu</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="/Assets/admin/css/app.min.css">
    <link rel="stylesheet" href="/Assets/admin/bundles/bootstrap-social/bootstrap-social.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/Assets/admin/css/style.css">
    <link rel="stylesheet" href="/Assets/admin/css/components.css">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="/Assets/admin/css/custom.css">
    <link rel='shortcut icon' type='image/x-icon' href='/Assets/admin/img/favicon.ico' />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div class="loader"></div>
    <div id="app">
        <section class="section">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                        <div class="d-flex justify-content-center py-3">
                            <a href="index.html" class="logo d-flex align-items-center w-auto nav-link">
                                <img src="/Assets/admin/img/logo.png" alt="">
                                <span class="d-none d-lg-block">LoginAdmin</span>
                            </a>
                        </div><!-- End Logo -->
                        <div class="card card-primary">
                            <div class="card-body">
                                @using (Html.BeginForm("ForgotPassword", "Login_64132077", FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="pt-4 pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">Quên mật khẩu</h5>
                                        <p class="text-center small">Nhập Email để khôi phục mật khẩu</p>
                                    </div>
                                    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })

                                    <div class="form-group">
                                        <label for="Email">Nhập email đã đăng ký</label>
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email", @required = "required" })
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                                            Gửi yêu cầu
                                        </button>
                                    </div>
                                    <div class="mt-1 text-muted text-center">
                                        Bạn chưa có tài khoản? <a href="/Admin/Login_64132077/Index">Quay lại</a>
                                    </div>
                                }
                                @if (ViewBag.Message != null)
                                {
                                    <div class="alert alert-success mt-3">@ViewBag.Message</div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- General JS Scripts -->
    <script src="/Assets/admin/js/app.min.js"></script>
    <!-- JS Libraies -->
    <!-- Template JS File -->
    <script src="/Assets/admin/js/scripts.js"></script>
    <!-- Custom JS File -->
    <script src="/Assets/admin/js/custom.js"></script>
    <script src="~/Assets/admin/js/admin.js"></script>
</body>
</html>

